<head><meta charset="UTF-8"></head>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3">
		<span class="op">
			<h3>
				<b>Participante 1</b>
			</h3> <img class="op" ng-src="img/op1.png" ng-click="setVote(1)" />
			<p>
				<br>Para eliminar o <b>Participante 1</b> pelo telefone disque
				<br>
				<b>0800-123-001</b> ou mande um SMS para <b>8001</b>
			</p>
		</span>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<span class="op">
			<h3>
				<b>Participante 2</b>
			</h3> <img class="op" ng-src="img/op2.png" ng-click="setVote(2)" />
			<p>
				<br>Para eliminar o <b>Participante 2</b> pelo telefone disque
				<br>
				<b>0800-123-002</b> ou mande um SMS para <b>8002</b>
			</p>
		</span>
	</div>